body{
    background-color: rgb(201, 222, 222);
}

.hstyle {

background-color: rgb(133, 184, 122);
border: 1px solid rgb(138, 49, 49);
}
.app {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .addHome {
      padding: 10px;
      margin-top: 20px;
      cursor: pointer;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
    }
  
    & h1 {
      margin-bottom: 50px;
    }
  
    .books {
      display: flex;
  
      .book {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: rgb(53, 65, 112);
        border-style: double;
        
  
       & img {
          width: 200px;
          height: 300px;
          object-fit: cover;
        }
  
        & button {
          padding: 3px 6px;
          background-color: white;
          cursor: pointer;
        }
        .delete {
          border: 1px solid rgb(138, 49, 49);
          color: rgb(230, 95, 192);
        }
        .update {
          border: 1px solid rgb(138, 49, 49);
          color: rgb(17, 17, 144);
        }
      }
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      & input {
        width: 250px;
        padding: 10px;
        border: 1px solid gray;
      }
  
     & textarea {
        background-color: coral;
        padding: 10px;
      }
  
      & button {
        border: none;
        padding: 10px;
        background-color: white;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }